[Unit]
Description=Start Photoframe

[Service]
# Environment=DISPLAY=:0
# For hyperpixel
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/murali/.Xauthority
User=murali
Group=murali
ExecStart=/bin/bash /home/murali/src/dotfiles/bin/photoframe.sh
Restart=on-failure
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
